*{
    margin: 0%;
    padding: 0%;
}
.navbar{
    background-color: rgb(64, 131, 213);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 28px;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}